* {
    font-size: 15px;
    min-height: 0px;
}

window#waybar {
    background: transparent;
    color: #f8f8f2;
}

tooltip {
    background: #282a36;
    border: 1px solid #50fa7b;
}

tooltip label {
    color: #50fa7b;
}

#workspaces button {
    padding: 2px 8px;
    margin: 12px 4px 0px 12px;
    border-radius: 0;
    border: 1px solid #8be9fd;
    color: #8be9fd;
    background: #282a36;
}

#workspaces button.focused {
    color: #50fa7b;
    border: 1px solid #50fa7b;
}

#clock,
#battery,
#network,
#pulseaudio {
    padding: 2px 8px;
    background: #282a36;
    border-radius: 0;
    border: 1px solid #8be9fd;
    color: #8be9fd;
    margin: 12px 12px 0 4px;
}

#battery.warning {
    color: #f1fa8c;
}

#battery.critical {
    color: #ff5555;
}

/*
#mode {
    padding: 2px 8px;
    background: @base00;
    border-radius: 0;
    border: 1px solid @base0E;
    margin: 4px;
}
*/